body{

padding: 0;
margin: 0;
background-color: #fc7516;
font-family: "Source Sans Pro","Helvetica Neue","Helvetica",Arial,sans-serif;
}
.container {
width: 680px;
height: 120px;
position: relative;
margin: 90px relative;
}
.container nav{
  width: 60px;
  height: 2px;
}
.text{
color: gold;
font-size: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}


.navbar-toggler {
  font-size: 15px;
  padding: 8px 10px;
  color: gray;
}
  body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #fc7516;
  }

  a {
    color: white;
    font-size: 40px;
    text-decoration: none;
  }
  .text-white {
    color: white;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 40;
  line-height: 1.5;
  color: WHITE;
  text-align: left;
}
body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background-color: #fc7516;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.alert-warning {
  background-color: dodgerblue;
  border-color: #ff7701;
  color: #ffffff;
}
element.style {
  background-color: dodgerblue;
  text-size-adjust: auto;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #ff7701;
  border: 1px solid rgba(0,0,0,.125);
}
element.style {
  background-color: dodgerblue;
}